<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Riri">
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.news.DetailNewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.listagensi.ListAgensi"
            android:exported="false" />
        <activity
            android:name=".ui.listagensi.DetailAgensi"
            android:exported="false" />
        <activity
            android:name=".ui.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editprofilepicture.EditProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editprofile.EditProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf13j6uthGkS_SyQjq954q8qWhFr5PQBE" />

        <activity
            android:name=".ui.detailchat.DetailChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detaildiscuss.DetailDiscussActivity"
            android:exported="false" />
        <activity
            android:name=".ui.report.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ui.adddiscuss.AddDiscussActivity"
            android:exported="false"
            android:parentActivityName=".ui.discuss.DiscussActivity" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.discuss.DiscussActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.emergency.EmergencyActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.report.ReportActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <!-- suppress AndroidDomInspection -->
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>

</manifest>